body {
    background-color: #353643;
  }

button{
display: inline;
}
.navbar-default{
  background-color: #353643;
  border-color: black ;


 
}
.navbar-nav {
  display: flex;
  flex-direction: row; 
  display: inline;
  margin:0%;/* Asegura que los elementos estén en fila */
}

.navbar-nav li {
  list-style: none;
  
  margin-right: 10px; /* Espaciado entre elementos */
}
.container-fluid{
  border-color: black ;
  margin: 0%;
}
a{
    background-color: #001a36;
    color:#ff0000
    

}
  .fondo{
    background-color: #353643;
  }
  
  #cv {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #007bff;
  }
  
  h4 {
    color: #b1b1b1;
  }
  
 li, p {
    color: #889eb1;
    
  }
  .nombre{

    font-family:'Times New Roman', Times, serif;

  }
  .audio{

    color: #050404;
  }
  